<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=+, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title></title>
</head>

<body>
    <% if notice %>
    <div class="alert alert-success" id="notice">
        <p id="texto">
            <%= notice %>
        </p>
    </div>
    <%end%>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <h1>Ver Carro</h1>
                <p>
                    <h4>Clave car:</h4>
                    <%= @carro.clave_car %>
                </p>
                <p>
                    <h4>Marca car:</h4>
                    <%= @carro.marca_car %>
                </p>
                <p>
                    <h4>Modelo car:</h4>
                    <%= @carro.modelo_car %>
                </p>
                <p>
                    <h4>Matricula:</h4>
                    <%= @carro.matricula %>
                </p>
                <p>
                    <h4>Reprobo:</h4>
                    <%= @carro.reprobo %>
                </p>
                <%= link_to 'Editar', edit_carro_path(@carro) , class:"btn btn-success" %> |
                <%= link_to 'Cancelar', carros_path , class:"btn btn-danger"%>
            </div>
            <div class="col-3">
            </div>
        </div>
</body>

</html>