<!DOCTYPE html>
<html>
  <head>
    <title>API CARROS</title>
    <link rel="shortcut icon" href="https://repuve2020.online/wp-content/uploads/2019/11/cropped-Icono-repuve-3.png" type="image/x-icon">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
